@model List<MVCCRUDDemo.Models.Domain.Friend>

<h1>Friends</h1>

<table class=" table">
  <thead>
      <tr>
          <th> Id </th>
          <th> Name </th>
          <th> Place </th>
          <th> </th>
      </tr>
  </thead>  
  <tbody>
      @foreach (var friend in Model)
        {
            <tr>
                <td>@friend.FriendID</td>
                <td>@friend.FriendName </td>
                <td>@friend.Place </td>
                <td> <a href="Friends/Details/@friend.FriendID">Details</a> </td>
            </tr>
        }
  </tbody>
</table>
